/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.relative{
    position: relative;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

main{
    height: 100vh;
    background-color: black;
    padding: 7vh 3vw 10vh;
}

.container{
    justify-content: space-evenly;
    align-content: space-between;
    height: 90%;
}

.user-card{
    display: inline-block;
    width: 170px;
    height: 100px;
    background-color: aqua;
    border: 3px solid red;
}

.user-status{
    position: absolute;
    font-size: .8rem;
    background-color: grey;
    color: white;
    bottom: 0;
    left: 0;
    padding: .2rem;
}

footer{
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 3.6rem;
    bottom: 0;
    background-color: rgb(63, 60, 60);
    color: white;
}

footer span{
    display: block;
}

footer i{
    font-size: 1.5em;
}

footer button{
    color: white;
    background-color: inherit;
    border: none;
}

.user-input{
    width: 12vw;
    justify-content: space-evenly;
    align-items: center;
}

footer .toolbar{
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
}

.leave{
    background-color: darkgray;
    text-align: center;
    padding: 1rem 2rem 0;
}

.leave :only-child{
    color: red;
}
